$mobile: 375px;
$desktop: 1440px;
$soft-red: hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);//graphic design text
$dark-blue:hsl(198, 62%, 26%);//photograpy text
$dark-moderate-cyan:hsl(168, 34%, 41%);//footer
$verydark-desaturated-blue: hsl(212, 27%, 19%);
$very-darkgrayish-blue: hsl(213, 9%, 39%);
$darkgrayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$transition: all 0.5s ease;

@mixin flex-center($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}